*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar{
height: auto;
display: flex;
justify-content: space-around;
}

#mainpage{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.imagemmain img{
    width: 700px;
 
}